
body {
    margin: auto;
    text-align: center;
    background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)) ,url(tiny-love-smell-landscapes-background-tropical-forests-jungles-beautiful-cloudy-rivers-trees-tall-freshdownload-roads-weather-peaksmountains.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#arrow{
    color: #ff3030;
    font-size: 35px;
  
}

.currentweather{
    
    color: rgba(164, 197, 252,0.5);
    font-size: 50px;
    
}

.entername > h4 {
    
    color: rgba(164, 197, 252,0.5);
    font-size: 50px;
    
}

h3{
    margin-bottom: 35px;
    color: #ffffff;
    font-size: 30px;
}

::placeholder {
    color: rgba(164, 197, 252,0.5);
}

#city{
    
    border: none;
    border-bottom: 4px #a4c5fc solid;
    width: 650px;
    font-size: 45px;
    margin-top: 30px;
    background: none;
    color: #ffffff;
    margin-left: 45px;

}

button{

    background-color: rgba(191, 195, 201,0.6);
    border-color: #a4c5fc;
    border-width: 2.5px;
    color: #ffffff;
    border-radius: 10px;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 10px;
  }



/* media queries */

@media only screen and (max-width: 500px){
    
    #city{
        width: 350px;
        margin-left: -5px;
        font-size: 30px;
    }
    
    button {
        
        margin-top: 40px;
    }
    
    
}